body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("https://images.wallpaperscraft.ru/image/les_tuman_derevia_151477_3840x2400.jpg") fixed;
    font-family: sans-serif;
    text-align: center;
}
h1{
    position: center;
    color: #ffffff;
    transform: translate(-20%, 170%);
}
h2{
    position: center;
    color: #ffffff;
    transform: translate(-20%, 200%);
}
.Alway_sready{
    width: 600px;
    height: 120px;
    background: darkslategray;
    color: #ffffff;
    top: 10%;
    left: 60%;
    position: absolute;
    box-sizing: border-box;
    padding: 19px 19px;
    border-radius: 20px;
}
.Alway_sready h3{
    font-size: 22px;
    position: center;
    color: #ffffff;
    /*transform: translate(30%, -30%);*/
}
.alwaysready{
    position: center;
    width: 100px;
    height: 100px;
    transform: translate(450px, -80px);
}
@keyframes go-left-right {
    from {
        right: 0%;
    }
    to {
        right: 250%;
    }
}
/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes go-left-right {
    from {
        right: 0%;
    }
    to {
        right: 250%;
    }
}
.fox{
    animation: go-left-right 6s infinite;
    -webkit-animation: go-left-right 6s infinite;
    position: relative;
    width: 330px;
    height: 200px;
    transform: translate(500%, 90%);
}
article{
    width: 100%;
    height: 60%;
    background: darkslategray;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    padding: 30px 30px;
}

