h1{
    position: absolute;
    color: #ffffff;
    bottom: 80%;
    right: 60%;
    /*transform: translate(-50%, 180%);*/
    font-family: Mistral;
    font-size: 80px;
}
h2{
    position: absolute;
    color: #ffffff;
    bottom: 88%;
    right: 57%;
    transform: translate(-53%, 220%);
    font-family: Mistral;
    font-size: 60px;
}
.Alway_sready{
    width: 600px;
    height: 120px;
    background: darkslategray;
    color: #ffffff;
    bottom: 75%;
    left: 60%;
    position: absolute;
    box-sizing: border-box;
    padding: 19px 19px;
    border-radius: 20px;
}
.Alway_sready h3{
    font-size: 22px;
    left: 100%;
    position: static;
    color: #ffffff;
    /*transform: translate(-10%, 0%);*/
}
.alwaysready{
    position: static;
    width: 100px;
    height: 100px;
    /*transform: translate(230px, -80px);*/
}
@keyframes go-left-right {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}
/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes go-left-right {
    from {
        right: 0%;
    }
    to {
        right: 250%;
    }
}
.fox{
    animation: go-left-right 6s infinite;
    -webkit-animation: go-left-right 6s infinite;
    position: absolute;
    width: 330px;
    height: 200px;
    /*transform: translate(400%, 0);*/
    /*left: 100%;*/
    top: 40%;
}
.one{
    width: 100%;
    height: 40%;
    /*margin-top: 1px;*/
    background: darkslategray;
    color: #ffffff;
    right: 0;
    top: 60%;
    position: absolute;
    /*box-sizing: border-box;*/
    padding: 30px 30px;
    margin: 1px;
}
.one h2{
    position: absolute;
    color: #ffffff;
    left: 45%;
    bottom: 110%;
    /*transform: translate(-53%, 220%);*/
    font-family: Mistral;
    font-size: 60px;
}
.one h3{
    position: absolute;
    color: #ffffff;
    left: 0;
    bottom: 20%;
    /*transform: translate(-53%, 220%);*/
    font-size: 22px;
    padding: 20px;
}
.two{
    width: 100%;
    height: 40%;
    /*margin-top: 1px;*/
    background: darkslategray;
    color: #ffffff;
    right: 0;
    top: 120%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
    margin: 1px;
}
.two h2{
    position: absolute;
    color: #ffffff;
    left: 45%;
    bottom: 110%;
    /*transform: translate(-53%, 220%);*/
    font-family: Mistral;
    font-size: 60px;
}
.two h3{
    position: absolute;
    color: #ffffff;
    left: 0;
    bottom: 20%;
    /*transform: translate(-53%, 220%);*/
    font-size: 22px;
    padding: 20px;
}
.mid{
    width: 100px;
    height: 40px;
    background: aliceblue;
    position: absolute;
}