<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>An exception has occured</title>
</head>
<body>
    <div class="container">
        <h2>Ёлки-палки!</h2>
        <h2>Эн экцептион хэс оккуред</h2>
        <h1>404</h1>
        <a href="{{ url_for('MainPage') }}">Вернёмся к началу?</a>
    </div>
    <img src="https://media.tenor.com/images/10dc5d611e8b2abc48eb5e831b2982aa/tenor.gif">
    <img src="https://i0.wp.com/pa1.narvii.com/6940/4f6cea357bae31bd519905090000373d279408e2r1-515-877_hq.gif">
    <img src="https://media.tenor.com/images/f1c873ff4222d7c1a5f35c6a0a7b3b30/tenor.gif">
</body>
</html>
