{% extends 'BASE.html' %}

{% block title %}
    Добро пожаловать!
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/MainPage.css">
{% endblock %}

{% block content %}
        <{#div class="container">#}
            <h1>Добро пожаловать</h1>
            <h2>Рады вас видеть :*</h2>
            <div class="Alway_sready">
                <h3>"Хранить наследство — вовсе не значит</h3>
                <h3> ещё ограничиваться этим наследством."</h3>
                <img src="https://avatars.mds.yandex.net/get-pdb/1920375/d5fb0107-d3f2-4a60-a3c4-fce34cd0d0a9/s1200" class="alwaysready">
            </div>
            <img src="https://wmpics.pics/di-JFAX.gif" class="fox">
            <article class="one">
                <h2>Дратути</h2>
                <h3>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </h3>
            </article>
            <div class="mid">

            </div>
            <article class="two">
                <h2>Дратути</h2>
                <h3>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </h3>
            </article>
        {#</div>#}
{% endblock %}

